body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.hatsize {
	height: 60px;
}

.DeleteButton {
	color: black;
	background-color: orange;
	font-weight: bold;
	border: none;
	padding: 4px 8px;
}

td {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16.66%;
	text-align: center;
}

tr {
	display: flex;
	flex-direction: row;
	width: 100%;
}

th {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 16.66%;
}
